.formRow{
    display: flex;
}.Addtable{
    width: 95vw;
  /* overflow: scroll; */
display: flex;
flex-direction: column;
  height: 80%;
  padding: 10px;
  border-radius: 30px;
  border: 1px solid rgb(160, 160, 255);
  box-shadow: 0px 0px 20px 3px rgb(160, 160, 255);
}.add1row{
    display: flex;
    justify-content: center;
}.add1row .row1td{
    width: 25%;
  border: 1px solid rgb(160, 160, 255);
  border-radius: 30px;
  box-shadow: inset 0px 0px 20px 3px rgb(160, 160, 255);
  text-align: center;

}
.addtbody tr td{
    border-radius: 30px;
    padding: 5px;
    height: 30px;
    width:15%;
    text-align: center;
}.addtbody tr td input{
    width: 70%;
    box-shadow: inset 0px 0px 20px 3px rgb(160, 160, 255);
    border: 1px solid rgb(160, 160, 255); 
}
form{
    /* border: 1px solid red; */
    padding: 10px;
    
}form table{
    padding: 20px;
    border-radius: 30px;
    border: 1px solid rgb(190, 190, 190);
}
form table tr td input,#adminSetClass{
    padding: 10px;
    border-radius: 30px;
    box-shadow: inset 0px 0px 20px 3px rgb(160, 160, 255);
    border: 1px solid rgb(160, 160, 255);    width: 150px;
}#adminSetClass{
    width: 70%;
}